<div class="section">
    <h2>Application Inspector Report</h2>

    <strong>Welcome to the Microsoft Application Inspector Report.</strong>
    This report represents the output for the specified source code for
    identified makeup and characteristics. The report can help in validating
    purported component objectives by examining source code against identifying
    patterns for the detected change, including identifying applicable
    security and privacy features.  It also facilitates comparing key changes
    across versions of components or scanning for specific features.
</div>

<div class="section">
    <h5>Why it's different</h5>
    Knowing what is in your software is the first step to making choices about
    what actions are appropriate for allowing it to be deployed in your or your
    customer environment.  Unlike a typical source code static analyzer,
    AppInspector is judgement free, focusing instead on helping inform security
    and other scenarios by surfacing details that might otherwise go unnoticed.
</div>

<div class="section">
    <h5>AppInspector Functions</h5>
    <table class="table" style="width: auto !important;">
        <tr>
            <td><i class="fas fa-play"></i></td>
            <td>Analyze</td>
            <td>Scan source files for characteristics</td>
        </tr>
        <tr>
            <td><i class="fas fa-tag"></i></td>
            <td>Tag Test</td>
            <td>Test source files for the presence of a specific tag identifier</td>
        </tr>
        <tr>
            <td><i class="far fa-copy"></i></td>
            <td>Tag Diff</td>
            <td>Compare identified tags between versions</td>
        </tr>
        <tr>
            <td><i class="fas fa-tags"></i></td>
            <td style="text-align:left">Tags</td>
            <td>Export Tags</td>
        </tr>
        <tr>
            <td><i class="far fa-check-square"></i></td>
          <td style="text-align:left">Verify</td>
            <td>Verify rules structure</td>
        </tr>
    </table>
</div>

<div class="section">
    <h4>Report Contents</h4>
    A set of customizable "Profile" traits of interest are available. Additional tools
    include a complete list of all traits detect and the full set of matching records
    to pinpoint which rule patterns were triggered located just under the Inspect
    menu. Traits are identified as "tags" found in the rule definitions which are
    customizable JSON files found under the 'Rules' folder.
</div>

<div class="section">
    <a class="btn btn-primary nav-button" role="button" href="#" data-target="#page__report_summary">View Report</a>
</div>

<div class="section">
    <small>
        For more information, please visit our <a href="https://github.com/Microsoft/AppInspector">GitHub</a> page to review
        the AppInspector user guide, documentation, and source code.
    </small>
</div>