<div class="section">
    <h2>Application Profile</h2>

    <div>
        This section describes the main characteristics of the appliation
        analyzed. Begin exploring by clicking any of the highlighted icons
        below. You can also drill into specific characteristics by clicking
        on the link shown on the right.
    </div>
</div>
<br>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
          <table class="table table-sm" style="width:600px">
              <tr>
                  <td>Select Features</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" title="Authentication" data-target="Authentication">
                              <i class="fas fa-sign-in-alt"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" title="Authorization" data-target="Authorization">
                              <i class="fas fa-passport"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" title="Cryptography" data-target="Cryptography">
                              <i class="fas fa-key"></i>
                          </a>
                      </div>
                    <div class="grid-1">
                      <a href="#" class="feature_icon" title="Media File Parsing" data-target="MediaFileParsing">
                        <i class="fas fa-photo-video"></i>
                      </a>
                    </div>
                    <div class="grid-1">
                      <a href="#" class="feature_icon" title="Object Deserialization" data-target="Deserialization">
                        <i class="far fa-object-ungroup"></i>
                      </a>
                    </div>
                   </td>
              </tr>
            <tr>
              <td>General Features</td>
              <td>
                <div class="grid-1">
                  <a href="#" class="feature_icon" data-target="\.FileOperation" title="File Operations">
                    <i class="far fa-edit"></i>
                  </a>
                </div>
                <div class="grid-1">
                  <a href="#" class="feature_icon" data-target="\.Network" title="Network Communication">
                    <i class="fas fa-network-wired"></i>
                  </a>
                </div>
                <div class="grid-1">
                  <a href="#" class="feature_icon" title="Application Type" data-target="Application\.Type">
                    <i class="fas fa-dot-circle"></i>
                  </a>
                </div>
                <div class="grid-1">
                  <a href="#" class="feature_icon" title="Logging" data-target="Logging">
                    <i class="fas fa-file"></i>
                  </a>
                </div>
                <div class="grid-1">
                  <a href="#" class="feature_icon" title="HTML Forms" data-target="HTMLForm">
                    <i class="far fa-address-card"></i>
                  </a>
                </div>
              </td>
            </tr>
              <tr>
                  <td>Development Frameworks</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Development\.Build" title="Build Tools">
                              <i class="fas fa-building"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Development\.Framework" title="Development Framework">
                              <i class="fab fa-dev"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Testing\.Framework" title="Test Framework">
                              <i class="fas fa-vial"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                        <a href="#" class="feature_icon" title="Content Mngt System" data-target="Framework.\CMS">
                          <i class="fab fa-wpforms"></i>
                        </a>
                      </div>
                      <div class="grid-1">
                        <a href="#" class="feature_icon" data-target="Reference\.SocialMedia" title="Social Media">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                      </div>
                      <div class="grid-1">
                            <a href="#" class="feature_icon" data-target="Miscellaneous\.OpenSourceLicense" title="Open Source License">
                                <i class="fas fa-file-contract"></i>
                            </a>
                      </div>
                      <div class="grid-1">
                            <a href="#" class="feature_icon" data-target="Dependency\.SourceInclude" title="Source Code Inclusion">
                                <i class="far fa-plus-square"></i>
                            </a>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>Data</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.DataAccess\.SQL" title="SQL Commands">
                            <i class="fas fa-table"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.DataAccess\.ORM" title="Object Relational Mapper">
                            <i class="fab fa-connectdevelop"></i>
                          </a>
                      </div>
                    <div class="grid-1">
                      <a href="#" class="feature_icon" data-target="Data\.DataAccess\.ODBC" title="Object Database Connectivity">                      
                        <i class="fas fa-plug"></i>
                      </a>
                    </div>
                    <div class="grid-1">
                      <a href="#" class="feature_icon" data-target="Data\.DataAccess\.DBMS" title="Database Mngt System">                      
                        <i class="fas fa-database"></i>
                      </a>
                    </div>
                    <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.DataAccess\..*Azure" title="Azure Data Services">
                            <i class="fab fa-microsoft"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.(XML|JSON)" title="JSON/XML">
                              <i class="far fa-file-code"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.Sensitive\.Personal" title="Sensitive/Personal Data">
                              <i class="fas fa-user-shield"></i>
                          </a>
                      </div>
                    <div class="grid-1">
                      <a href="#" class="feature_icon" data-target="Data\.Sensitive\.Medical" title="Sensitive/Medical Data">
                        <i class="fas fa-stethoscope"></i>
                      </a>
                    </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.Finance" title="Financial Data">
                            <i class="fas fa-money-bill"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Data\.Serialization" title="Serialization">
                            <i class="fas fa-project-diagram"></i>
                          </a>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>OS Integration</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.OS" title="OS Identification">
                            <i class="fab fa-linux"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="OS\.ACL" title="Access Control">
                              <i class="fas fa-user-alt-slash"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="OS\.Environment" title="Environment Variables">
                              <i class="fas fa-times"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="OS\.Process" title="Process Management">
                            <i class="fas fa-stream"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="OS\.SystemRegistry" title="System Registry">
                              <i class="fas fa-tree"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="OS\.UserAccount" title="System Accounts">
                              <i class="fas fa-running"></i>
                          </a>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>Cloud Services</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.Microsoft\.Azure" title="Microsoft Azure">
                            <i class="fab fa-microsoft"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.Amazon\.AWS" title="Amazon Web Services">
                              <i class="fab fa-aws"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.Google\.Cloud" title="Google Cloud Platform">
                              <i class="fab fa-google"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.Microsoft\.Office" title="Microsoft Office">
                              <i class="far fa-file-word"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.Repository" title="Source Code Repository">
                            <i class="fab fa-github"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.PackageManager" title="Package Manager">
                            <i class="fas fa-box-open"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Platform\.CloudService\.CI" title="Continuous Integration">
                              <i class="fas fa-vials"></i>
                          </a>
                      </div>
                      
                  </td>
              </tr>
              <tr>
                  <td>Other</td>
                  <td>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Miscellaneous\.Analytics" title="Analytics Services">
                              <i class="fas fa-diagnoses"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Miscellaneous\.AdvertisingNetwork" title="Advertising Network">
                              <i class="fas fa-ad"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="ObfuscatedCode" title="Obfuscated Strings">
                              <i class="far fa-eye-slash"></i>
                          </a>
                      </div>
                      <div class="grid-1">
                          <a href="#" class="feature_icon" data-target="Comment\.(Suspicious|Todo)" title="Incomplete Code (TODO)">
                              <i class="far fa-clock"></i>
                          </a>
                      </div>
                      
                  </td>
              </tr>
          </table>
      </div>

      <div class="col">
        <div id="features">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Characteristics</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
