<div class="section">
    <h2>Application Inspector Report</h2>
  <br>
  <h4>Overview</h4>
    Welcome to the <strong>Microsoft Application Inspector Report.</strong>
    This report represents the analysis results for the specified source code. It contains
    features identified from a large variety of common characteristics including security
    and privacy characteristics, and other attributes to answer the question <strong>'What is in the code?'.</strong>
    The tool can help validate purported component objectives using identifying patterns
    as well as detect feature changes between software component versions and even be used in automation scenarios.  
</div>

<div class="section">
    <h4>Why it's different</h4>
    Knowing what is in your software is the first step to making informed choices about
    what actions are appropriate before allowing it to be include as part of your application in 
    customer environments.  Unlike a typical source code static analyzer,
    Application Inspector is judgement free, focusing instead on helping inform security
    and other scenarios by surfacing details that might otherwise go unnoticed.
</div>

<div class="section">
    <h4>Application Inspector Functions</h4>
    <table class="table" style="width: auto !important;">
        <tr>
            <td><i class="fas fa-play"></i></td>
            <td>Analyze</td>
            <td>Scan source files for characteristics</td>
        </tr>
        <tr>
            <td><i class="far fa-copy"></i></td>
            <td>Tag Diff</td>
            <td>Compare identified tags (features) between source versions or components</td>
        </tr>
      <tr>
        <td>
          <i class="fas fa-tag"></i>
        </td>
        <td>Tag Test</td>
        <td>Test source files for the presence of specific tag identifiers</td>
      </tr>
        <tr>
            <td><i class="fas fa-tags"></i></td>
            <td style="text-align:left">Tags</td>
            <td>Export Tags</td>
        </tr>
        <tr>
            <td><i class="far fa-check-square"></i></td>
          <td style="text-align:left">Verify</td>
            <td>Verify rules structure</td>
        </tr>
    </table>
</div>

<div class="section">
    <h4>Report Contents</h4>
    Feature are identified as "tags" found in the rule definitions which are customizable JSON files found under the 'rules' folder.  Many characteristics are simply reported as
    "meta-data" which are not features in the code per se but are other attributes about the source that were detected which can be found in the Summary section.
</div>

<div class="section">
    <a class="btn btn-primary nav-button" role="button" href="#" data-target="#page__report_summary">View Report</a>
</div>

<div class="section">
    <small>
        For more information, please visit our <a href="https://github.com/Microsoft/ApplicationInspector" target="_blank" rel="noopener">GitHub</a> page to review
        the Application Inspector user guide, documentation, and source code.
    </small>
</div>