@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopCenter" />

<div class="d-md-flex min-vh-100">
	<Sidebar />
	<div class="main flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>
